body {
	margin:0;
	border:0;
}


#index{
	position: absolute;
	margin-left:5vw;
	width: 330px;
}

#name{
	font-family: forma-djr-deck, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 25pt;
	padding-top: 30px;
	color:black;
}

#welcome {
	margin-top:50px;
	font-family: forma-djr-deck, sans-serif;
	font-weight: 700;
	font-size: 20pt;
	z-index: 2;
	line-height: 30px;
	color:#666666;
}
.links{
	font-weight: 700;
	color:blue;

}
a:visited, a{
	text-decoration: none;
	color:blue;
}









