
/*
  xt256.css

  Contact: initbar [at] protonmail [dot] ch
         : github.com/initbar
*/

.hljs {
  display: block;
  overflow-x: auto;
  color: #171717;
  background: transparent;
  overflow: visible;
}

.hljs-subst {
  color: #171717;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-builtin-name,
.hljs-type {
  color: #9ae063;
}

.hljs-params {
  color: #da0000;
}

.hljs-number {
  color: #f2193e;
}
.hljs-name {
  color: #ba1c98;
}
.hljs-literal, {
  color: #9ae063;
}

.hljs-comment {
  color: #969896;
}

.hljs-selector-id,
.hljs-quote {
  color: #fff000;
}

.hljs-template-variable,
.hljs-variable,
.hljs-title {
  color: #029faf;
}

.hljs-selector-class,
.hljs-keyword,
.hljs-symbol {
  color: #fff000;
}

.hljs-string{
  color: #9ae063;
}
.hljs-bullet {
  color: #c69730;
}

.hljs-tag{
  color:#171717;
}
.hljs-section {
  color: #000fff;
}

.hljs-selector-tag {
  color: #9ae063;
}

.hljs-attribute,
.hljs-built_in,
.hljs-regexp,
.hljs-link {
  color: #3774CC;
}

.hljs-meta {
  color: #fff;
  font-weight: bolder;
}
