
@media only screen and (max-width: 967px) {
	.leftPanel {
		width:90vw ;
		margin-left: 5vw;
	}
	ul {
		margin-top:50px;
	}
	li {
		margin-top:20px !important;
	}
	#rauschenberg{
        margin-top:-20px;
    }
    #biography{
    	margin-top: 340px;
    	width: 90vw;
    	margin-left: 5vw;
    	left:0;
    	z-index: 10;
    }
    #portrait{
    	filter: brightness(120%);
    	left: -250px;
    }
	.imgText{
		display: none;
	}
	.deconstruction{
		margin:0;
		width: 100vh;
		z-index: 0;
	}
	pre #js, .css{
		display: none;
	}
}

@media only screen and (max-width: 600px) {
	#biography{
		font-size: 15pt;
	}
}

.imgText{
	width: 800px;
    overflow: hidden;
    margin-top: 58vh;
    left: calc(65vw - 1000px);
    text-align: right;
    position: fixed;
    color: #B07112;
    font-family: monospace;
    pointer-events: none;
}
}

















