@media only screen and (max-width: 678px) {
	.leftPanel {
		width:90vw ;
		margin-left: 5vw;
	}
	ul {
		margin-top:50px;
	}
	li {
		margin-top:20px !important;
	}
	#rauschenberg{
        margin-top:-20px;
    }
	#portrait {
		left:0;
		margin-left: calc(50vw - 200px);
		margin-bottom: 5vh;
	}
	.imgText{
		display: none;
	}
	.deconstruction{
		margin:0;
		width: 100vh;
	}
	pre #js, .css{
		display: none;
	}
}